@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200&family=Lobster&family=Montserrat:wght@300&family=Playfair+Display:ital,wght@0,600;1,400&family=Roboto+Mono:wght@200;400&family=Roboto+Slab&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400;1,500&display=swap");

*{
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: none;
}

body{
      font-family: Jost;
      color: black;
      width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

h1,h2,h3{
    font-family: sans-Serif;
}

h2{
    margin: 20px 0 20px 0;
     text-align: center; 
     font-size: 40px;
  }

header{
    padding: 30px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-family: sans-Serif;
    top: 0;
    width: 100%;
    z-index: 1;
    background: white;
}

footer{
    padding: 30px;
    background: white;    
    position: fixed;
    font-family: sans-Serif;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
}

footer .icons i{
    border-radius: 50%;
    padding: 10px;
    margin-right: 5px;
    background: black;
    color: white;
}

header a{
    margin: 0 10px 0 0;
}

.active{
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    overflow: none;
    background: purple;
    color: white;
}

.logo, header i{
    font-size: 30px;
}
#home{
    height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#home .content{
    margin-top: 20px;
    font-size: 30px;
    line-height: 1.5;
}

#home .content span, span{
    color: purple;
}

#home .content .btn-1{
  background-color: purple; 
  color: white;
   border: none;
}
#home .image img{
    width: 300px;
    height: 400px;
}
button{
    border: none;
    margin: 20px 10px 0 0;
    padding: 15px 20px;
    border-radius: 10px;
}

#home .content button{
    color: white;
    background: purple;
}

#skill, #contact{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#skill .content, #contact .content{
    margin-top: 70px;
}

#skill .content .grid{
    display: grid; 
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

#skill .content img{
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.9);
    width: 80px;
    padding: 10px;
    margin: 20px 23px 0 0;
}

#skill .content .grid span{
    display: block;
}

#projects{
    padding: 20px;
    text-align: center;
}

#projects .content .box{
    width: 300px;   
    margin: 20px auto;
    border-radius: 10px;
    background: whitesmoke;
    padding: 20px;
    text-align: left;
    line-height: 1.5;
   
}

#projects .content .box img{
    width: 250px;
    height: 130px;
    border-radius: 10px;
}

#projects .content .box h4{
    margin-top: 20px;
}

#projects .content .box .bg{
    background: purple;
    color: white;
}

#projects .content .box .gb{
    background: transparent;
    border: 1px solid purple;
}

#projects .content .box .gb:hover{
    background: purple;
    color: white;
}
#contact{
    margin-bottom: 30px;
}
#contact form{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    text-align: center;
    margin-bottom: 100px;
}

#contact form input, textarea{
    width: 100%;
    border: none;
    background: #ccc;
    border-radius: 10px;
    padding: 20px 10px;
    margin: 20px 0 0 0;   
}

textarea{
    text-align: l    0px;
}
#contact form button{
    background: black;
    color: white;
}

#contact .content{
    width: 300px;
    text-align: center;
    margin-bottom: 10px;
}


#contact .content img{
    width: 500px;
    height: 400px;
}
/* media query */
@media(max-width: 767px){
    .toggle{
    text-align: center;
    margin: 70px 0 0 0;
    transition: 0.5s;  
    background: purple;
    padding: 20px;
    height: 100vh;
    z-index: 1;
    text-align: center;
    position: fixed;
    overflow: hidden;
    left: -150px;
    background: whitesmoke;
    color: black;
 }

#contact .content img{
    display: none;
}

.toggle a{
    display: block;
    margin-top: 20px;
    transition: 0.3s;
}

.DesktopNav{
    display: none;
}

#home .image{
    display: none;
}

#About .content img{
    display: none;
}

#contact{
    display: block;
    text-align: center;
}

form{
    margin: 0 auto;
}
  }
  
  
  
@media(min-width: 767px){
    .fa-bars{
        display: none;
    }
    
    #projects .content .flex{
     display: grid;
     grid-template-columns: auto auto auto;
     text-align: center;
}



#About .content .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#skill, #contact{
    height: 100vh;
}
}


.dark-theme{
    background: black;
    color: white;
}